n8n.json
{
  "name": "Crawler",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": ".Card_card-container__OxmEq.Card_card-container--product__Q_BJW",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        -560
      ],
      "id": "6f06c2da-9bfa-4d5f-bd35-7c687f2191ac",
      "name": "取出產品 tag"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\n\nproducts = []\n\nfor page in _items:\n  url = page[\"json\"][\"url\"]\n  \n  for product in page[\"json\"][\"data\"]:\n    split = product.split(\"\\n\\n\")\n    name = split[0]\n\n    # 價格 (兩件特價則取平均)，轉成 int\n    price = split[-1]\n    m = re.search(r\"\\d+\", price)\n    price = int(m.group()) if m else None\n\n    # 規格\n    spec = name.split(\"(\", 1)[1]\n\n    if \"(\" in spec:\n      # 多個括號\n      spec = \"(\" + spec\n\n    else:\n      spec = spec[:-1]\n    \n    products.append({\n        \"name\": name.split(\"(\", 1)[0],\n        \"price\": price,\n        \"spec\": spec,\n        # \"splilt\": split,\n        \"url\": url,\n    })\n  \nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -704
      ],
      "id": "8d66dbfa-9267-4bfb-90fb-2379ae99255e",
      "name": "分離欄位"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "data = []\n\nfor item in _items:\n  json = item[\"json\"]\n  \n  data.append({\n    # \"ID\",  # Primary key\n    \"CRAWLER_NAME\": \"全聯\",\n    \"REQUEST_URL\": json.get(\"url\"),\n    \"SOURCE\": \"爬蟲\",\n    \"RETAILER\": \"WebCrawler_Pxmart\",\n    \"PRODUCT_NAME\": json.get(\"name\"),\n    \"CATEGORY\": \"\",\n    \"MANUFACTURER\": \"\",\n    \"BRAND\": \"\",\n    \"SPEC\": json.get(\"spec\"),\n    \"PRICE\": json.get(\"price\"),\n    \"PROMO\": \"\",\n    \"NEW\": 0,\n    \"STATUS\": \"\",\n    # \"CREATE_DATE\",  # SQL 自動產生\n    # \"CREATE_USER_ID\",  # SQL 自動產生\n  })\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -704
      ],
      "id": "495f57f5-307f-4a1f-b06d-1f4f974ea504",
      "name": "轉成 db 欄位"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        320
      ],
      "id": "06e3bb2f-e27d-4b7e-b4c0-35cd9ee64074",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -560
      ],
      "id": "b75a3dd5-c3ca-49ae-a21f-6b20445119f3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        -704
      ],
      "id": "a627ff2a-c82b-460d-b49d-4bb11c2c7c87",
      "name": "Merge"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [\n  {\"url\": \"https://www.pxmart.com.tw/campaign/life-will/classification/冷藏、冰凍食品\"},\n  # {\"url\": \"https://www.pxmart.com.tw/campaign/life-will/classification/南北貨、油品、調味料、罐頭\"},\n  # {\"url\": \"https://www.pxmart.com.tw/campaign/life-will/classification/飲料與酒類\"},\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -704
      ],
      "id": "e0584432-8757-4f37-864a-d56ad79e88e8",
      "name": "全聯"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "mapping = _items[0][\"json\"][\"mapping\"]\ndata = _items[1:]\nresult = []\n\ndef get_category(product_name):\n  if not product_name:\n    return \"\"\n\n  for keyword in mapping[\"product2category\"]:\n    if keyword in product_name:\n      return mapping[\"product2category\"][keyword]\n\n  return \"\"\n\ndef get_brand_and_manufacturer(product_name):\n  if not product_name:\n      return \"\", \"\"\n\n  for keyword, b2m in mapping[\"product2brand2manufacturer\"].items():\n    if keyword in product_name:\n      brand = next(iter(b2m.keys()))\n      manufacturer = b2m[brand]\n      return brand, manufacturer\n\n  return \"\", \"\"\n\nfor item in data:\n  item = item[\"json\"]\n  product_name = item.get(\"PRODUCT_NAME\")\n  item[\"CATEGORY\"] = get_category(product_name)\n  item[\"BRAND\"], item[\"MANUFACTURER\"] = get_brand_and_manufacturer(product_name)\n  result.append(item)\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        424
      ],
      "id": "d5174320-fa2a-4880-b4e4-37a9d3ba4441",
      "name": "填補類別、品牌、製造商"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "base_url = \"https://online.carrefour.com.tw/zh/\"\n\ncategories = [\n  # \"生鮮冷凍/奶蛋點心食品/雞蛋豆製品\",\n  \"生鮮冷凍/奶蛋點心食品/鮮乳調味乳\",\n  # \"生鮮冷凍/奶蛋點心食品/豆米漿\",\n  # \"生鮮冷凍/奶蛋點心食品/優酪乳優格\",\n  # \"生鮮冷凍/奶蛋點心食品/保久乳\",\n  # \"生鮮冷凍/奶蛋點心食品/味噌沙拉醬\",\n  # \"生鮮冷凍/奶蛋點心食品/甜點小菜冷盤\",\n  # \"飲料零食/水汽水/汽水\",\n  # \"飲料零食/水汽水/礦泉水\",\n  # \"飲料零食/水汽水/氣泡水\",\n  # \"飲料零食/茶飲咖啡/綠茶烏龍茶其他茶飲\",\n  # \"飲料零食/茶飲咖啡/紅茶花茶水果茶\",\n  # \"飲料零食/茶飲咖啡/奶茶\",\n  # \"飲料零食/茶飲咖啡/咖啡\",\n  # \"飲料零食/茶飲咖啡/機能飲料\",\n  # \"飲料零食/茶飲咖啡/冷藏飲品\",\n  # \"飲料零食/果汁養生/蔬果汁\",\n  # \"米油沖泡/調味罐頭湯品南北貨/罐頭\",\n  # \"米油沖泡/米食用油/食用油\",\n]\n\nreturn [{\"url\": base_url + category} for category in categories]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -320
      ],
      "id": "7dc2b268-51a3-444d-a8be-cf6982e61423",
      "name": "家樂福"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return {\"url\": \"https://www.rakuten.com.tw/shop/amart/category/da28\"}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        64
      ],
      "id": "02e7945c-e993-45ea-b440-e017f7b324b4",
      "name": "愛買樂天"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return {\"url\": \"https://www.simplemart.com.tw/ec99/ushop20097/ShowGoods.asp?category_id=65&parent_id=54\"}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        448
      ],
      "id": "e3a3ad85-0438-436b-85a5-1df5eb2a0583",
      "name": "美廉社"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        448
      ],
      "id": "8fa870a7-07ec-48b6-8d37-33fb83f14b8d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "div.goodsitem",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "data",
              "cssSelector": "div.goodsitem",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        992,
        448
      ],
      "id": "98d9af34-cde7-4c05-822f-d0ebd4f51b8c",
      "name": "HTML"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "base_url = \"https://www.simplemart.com.tw/\"\nproducts = []\n\nfor product in _items[0][\"json\"][\"data\"]:\n  split = product.split(\"\\n\")\n\n  name = split[0].replace(\"【\", \"\").replace(\"】\", \"\")\n  spec = split[1].split(\"規格：\")[-1]\n  url = base_url + split[2].replace(\"[\", \"\").replace(\"]\", \"\")\n\n  products.append({\n    # \"ID\",  # Primary key\n    \"CRAWLER_NAME\": \"美廉社新品\",\n    \"REQUEST_URL\": url,\n    \"SOURCE\": \"爬蟲\",\n    \"RETAILER\": \"WebCrawler_Simplemart\",\n    \"PRODUCT_NAME\": name,\n    \"CATEGORY\": \"\",\n    \"MANUFACTURER\": \"\",\n    \"BRAND\": \"\",\n    \"SPEC\": spec,\n    \"PRICE\": None,\n    \"PROMO\": \"\",\n    \"NEW\": 0,\n    \"STATUS\": \"\",\n    # \"CREATE_DATE\",  # SQL 自動產生\n    # \"CREATE_USER_ID\",  # SQL 自動產生\n  })\n\nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        448
      ],
      "id": "b97c9e90-cc55-4bd7-8c84-4551c5ab6a9c",
      "name": "Code in Python (Native)"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return {\n  \"mapping\": {\n    \"product2category\": {\n      \"湯圓\": \"\",\n      \"玉米包\": \"\",\n      \"饅頭\": \"\",\n      \"料理塊\": \"\",\n      \"晶彩小圓子\": \"\",\n      \"豆腐\": \"\",\n      \"豆乾\": \"\",\n      \"拌飯料\": \"\",\n      \"麵\": \"\",\n      \"餃\": \"\",\n      \"布丁\": \"布丁\",\n      \"蒟蒻\": \"蒟蒻\",\n      \"果凍\": \"凍\",\n      \"茶凍\": \"凍\",\n      \"咖啡凍\": \"凍\",\n      \"愛玉\": \"愛玉\",\n      \"優酪乳\": \"優酪乳\",\n      \"優格醬\": \"優格醬\",\n      \"優格\": \"優格\",\n      \"優酪\": \"優格\",\n      \"好朋友\": \"調味乳\",\n      \"調味乳\": \"調味乳\",\n      \"保久乳\": \"保久乳\",\n      \"發酵乳\": \"發酵乳\",\n      \"鮮乳\": \"鮮乳\",\n      \"鮮奶\": \"鮮乳\",\n      \"牛乳\": \"牛乳\",\n      \"牛奶\": \"牛乳\",\n      \"烏龍\": \"茶\",\n      \"鐵觀音\": \"茶\",\n      \"四季春\": \"茶\",\n      \"醬油\": \"醬油\",\n      \"蠔油\": \"醬油\",\n      \"蔭油\": \"醬油\",\n      \"麻油\": \"食用油\",\n      \"香油\": \"食用油\",\n      \"食用油\": \"食用油\",\n      \"沙拉油\": \"食用油\",\n      \"葵花油\": \"食用油\",\n      \"橄欖油\": \"食用油\",\n      \"苦茶油\": \"食用油\",\n      \"玄米油\": \"食用油\",\n      \"芥花油\": \"食用油\",\n      \"胚芽油\": \"食用油\",\n      \"果實油\": \"食用油\",\n      \"椰子油\": \"食用油\",\n      \"花生油\": \"食用油\",\n      \"酪梨油\": \"食用油\",\n      \"壺底油\": \"食用油\",\n      \"調和油\": \"食用油\",\n      \"調合油\": \"食用油\",\n      \"健康油\": \"食用油\",\n      \"葡萄籽油\": \"食用油\",\n      \"味精\": \"味精\",\n      \"味醂\": \"味醂\",\n      \"調味醬\": \"調味醬\",\n      \"調味料\": \"調味料\",\n      \"和風露\": \"調味醬\",\n      \"沙拉醬\": \"醬\",\n      \"沙拉\": \"沙拉\",\n      \"黑麥汁\": \"飲料\",\n      \"黑咖\": \"咖啡\",\n      \"咖啡\": \"咖啡\",\n      \"豆漿\": \"植物奶\",\n      \"豆奶\": \"植物奶\",\n      \"豆乳醬\": \"醬\",\n      \"豆乳\": \"植物奶\",\n      \"米漿\": \"植物奶\",\n      \"米奶\": \"植物奶\",\n      \"米飲\": \"植物奶\",\n      \"穀奶\": \"植物奶\",\n      \"燕麥奶\": \"植物奶\",\n      \"燕麥飲\": \"植物奶\",\n      \"燕麥\": \"\",\n      \"植物奶\": \"植物奶\",\n      \"易開罐\": \"罐頭\",\n      \"罐頭\": \"罐頭\",\n      \"蔭瓜\": \"罐頭\",\n      \"玉米粒\": \"\",\n      \"果汁\": \"果汁\",\n      \"橙汁\": \"果汁\",\n      \"蔬汁\": \"果汁\",\n      \"葡萄汁\": \"果汁\",\n      \"純水\": \"水\",\n      \"礦泉水\": \"水\",\n      \"天然水\": \"水\",\n      \"拿鐵\": \"咖啡\",\n      \"氣泡水\": \"飲料\",\n      \"可樂\": \"飲料\",\n      \"飲料\": \"飲料\",\n      \"飲\": \"飲料\",\n      \"醬\": \"醬\",\n      \"膠原蛋白\": \"\",\n      \"蛋\": \"蛋\",\n      \"奶綠\": \"茶\",\n      \"茶\": \"茶\",\n      \"醋\": \"\"\n    },\n    \"product2brand2manufacturer\": {\n      \"大醇豆\": {\n        \"大醇豆\": \"味全\"\n      },\n      \"林鳳營\": {\n        \"林鳳營\": \"味全\"\n      },\n      \"萬丹\": {\n        \"酪農戶限定-萬丹\": \"味全\"\n      },\n      \"味全超優質\": {\n        \"味全超優質\": \"味全\"\n      },\n      \"簡單點\": {\n        \"簡單點\": \"味全\"\n      },\n      \"味全乳飲品\": {\n        \"味全乳飲品\": \"味全\"\n      },\n      \"貝納頌\": {\n        \"貝納頌\": \"味全\"\n      },\n      \"每日C\": {\n        \"每日C\": \"味全\"\n      },\n      \"農搾\": {\n        \"農搾果汁飲料\": \"味全\"\n      },\n      \"36法郎\": {\n        \"36法郎\": \"味全\"\n      },\n      \"阿維拉\": {\n        \"阿維拉\": \"味全\"\n      },\n      \"LCA506\": {\n        \"LCA506\": \"味全\"\n      },\n      \"味全原味奶酪-綿奶酪\": {\n        \"味全原味奶酪-綿奶酪\": \"味全\"\n      },\n      \"木崗\": {\n        \"木崗高品質雞蛋\": \"味全\"\n      },\n      \"味全布丁\": {\n        \"味全布丁\": \"味全\"\n      },\n      \"淬釀\": {\n        \"淬釀\": \"味全\"\n      },\n      \"味全高鮮\": {\n        \"味全高鮮\": \"味全\"\n      },\n      \"健康廚房\": {\n        \"健康廚房\": \"味全\"\n      },\n      \"台灣搵醬\": {\n        \"台灣搵醬\": \"味全\"\n      },\n      \"睡前牛乳\": {\n        \"味全保健生活\": \"味全\"\n      },\n      \"味全保健生活\": {\n        \"味全保健生活\": \"味全\"\n      },\n      \"味全\": {\n        \"味全\": \"味全\"\n      },\n      \"義美\": {\n        \"義美\": \"義美\"\n      },\n      \"悅氏\": {\n        \"悅氏\": \"悅氏\"\n      },\n      \"紅牌\": {\n        \"紅牌\": \"波蜜\"\n      },\n      \"波蜜\": {\n        \"波蜜\": \"波蜜\"\n      },\n      \"多喝水\": {\n        \"多喝水\": \"味丹\"\n      },\n      \"究·選SUAN\": {\n        \"究·選SUAN\": \"味丹\"\n      },\n      \"究選SUAN\": {\n        \"究·選SUAN\": \"味丹\"\n      },\n      \"海天\": {\n        \"海天\": \"味丹\"\n      },\n      \"味丹\": {\n        \"味丹\": \"味丹\"\n      },\n      \"百事可樂\": {\n        \"百事可樂\": \"百事\"\n      },\n      \"冰鎮\": {\n        \"冰鎮\": \"泰山\"\n      },\n      \"主廚精選\": {\n        \"主廚精選\": \"泰山\"\n      },\n      \"泰山\": {\n        \"泰山\": \"泰山\"\n      },\n      \"愛之味\": {\n        \"愛之味\": \"愛之味\"\n      },\n      \"紅牛\": {\n        \"紅牛\": \"紅牛\"\n      },\n      \"Red Bull\": {\n        \"紅牛\": \"紅牛\"\n      },\n      \"舒跑\": {\n        \"舒跑\": \"維他露\"\n      },\n      \"御茶園特上\": {\n        \"御茶園特上\": \"維他露\"\n      },\n      \"麥萃\": {\n        \"御茶園麥萃\": \"維他露\"\n      },\n      \"御茶園\": {\n        \"御茶園\": \"維他露\"\n      },\n      \"每朝\": {\n        \"每朝\": \"維他露\"\n      },\n      \"維他露P\": {\n        \"維他露P\": \"維他露\"\n      },\n      \"Roasta\": {\n        \"Roasta\": \"維他露\"\n      },\n      \"優鮮沛\": {\n        \"優鮮沛\": \"維他露\"\n      },\n      \"維他露\": {\n        \"維他露\": \"維他露\"\n      },\n      \"歐典生機\": {\n        \"歐典生機\": \"歐典\"\n      },\n      \"綠巨人\": {\n        \"綠巨人\": \"B&G Foods\"\n      },\n      \"台糖\": {\n        \"台糖\": \"台糖\"\n      },\n      \"生活良好\": {\n        \"生活良好\": \"生活良好\"\n      },\n      \"囍瑞\": {\n        \"囍瑞\": \"囍瑞\"\n      },\n      \"福松\": {\n        \"福松\": \"福松\"\n      },\n      \"DCOOP\": {\n        \"DCOOP\": \"三商食品\"\n      },\n      \"歐羅\": {\n        \"歐羅\": \"歐羅\"\n      },\n      \"MASTURZO\": {\n        \"馬斯特佐\": \"馬斯特佐\"\n      },\n      \"馬斯特佐\": {\n        \"馬斯特佐\": \"馬斯特佐\"\n      },\n      \"福壽\": {\n        \"福壽\": \"福壽\"\n      },\n      \"維義\": {\n        \"維義\": \"維義\"\n      },\n      \"丸莊\": {\n        \"丸莊\": \"丸莊\"\n      },\n      \"工研\": {\n        \"工研\": \"大安工研\"\n      },\n      \"小磨坊\": {\n        \"小磨坊\": \"小磨坊\"\n      },\n      \"桂冠\": {\n        \"桂冠\": \"桂冠\"\n      },\n      \"初鹿牧場\": {\n        \"初鹿牧場\": \"初鹿牧場\"\n      },\n      \"萬家香\": {\n        \"萬家香\": \"萬家香\"\n      },\n      \"金蘭\": {\n        \"金蘭\": \"金蘭\"\n      },\n      \"李錦記\": {\n        \"李錦記\": \"李錦記\"\n      },\n      \"金味王\": {\n        \"金味王\": \"味王\"\n      },\n      \"味王\": {\n        \"味王\": \"味王\"\n      },\n      \"烹大師\": {\n        \"烹大師\": \"味之素\"\n      },\n      \"喜樂之泉\": {\n        \"喜樂之泉\": \"喜樂之泉\"\n      },\n      \"崇德發\": {\n        \"崇德發\": \"崇德發\"\n      },\n      \"福樂一番鮮\": {\n        \"福樂一番鮮\": \"福樂\"\n      },\n      \"福樂鈣多多\": {\n        \"福樂鈣多多\": \"福樂\"\n      },\n      \"福樂超能蛋白\": {\n        \"福樂超能蛋白\": \"福樂\"\n      },\n      \"好優\": {\n        \"好優\": \"福樂\"\n      },\n      \"福樂\": {\n        \"福樂\": \"福樂\"\n      },\n      \"光泉鮮乳\": {\n        \"光泉鮮乳\": \"光泉\"\n      },\n      \"乳香世家\": {\n        \"乳香世家\": \"光泉\"\n      },\n      \"光泉調味乳飲\": {\n        \"光泉調味乳飲\": \"光泉\"\n      },\n      \"光泉保久乳飲\": {\n        \"光泉保久乳飲\": \"光泉\"\n      },\n      \"光泉保久乳\": {\n        \"光泉保久乳\": \"光泉\"\n      },\n      \"光泉營養牛乳\": {\n        \"光泉營養牛乳\": \"光泉\"\n      },\n      \"光泉優酪乳\": {\n        \"光泉優酪乳\": \"光泉\"\n      },\n      \"光泉穀奶\": {\n        \"光泉穀奶\": \"光泉\"\n      },\n      \"光泉米漿\": {\n        \"光泉米漿\": \"光泉\"\n      },\n      \"光泉豆漿\": {\n        \"光泉豆漿\": \"光泉\"\n      },\n      \"茉莉茶園\": {\n        \"茉莉茶園\": \"光泉\"\n      },\n      \"一日快充\": {\n        \"光泉一日快充\": \"光泉\"\n      },\n      \"果汁時刻\": {\n        \"果汁時刻\": \"光泉\"\n      },\n      \"冷泡茶冰釀烏龍無糖\": {\n        \"冷泡茶\": \"光泉\"\n      },\n      \"光泉冷泡茶\": {\n        \"冷泡茶\": \"光泉\"\n      },\n      \"光泉好茶\": {\n        \"光泉好茶\": \"光泉\"\n      },\n      \"光泉優酪\": {\n        \"光泉優酪\": \"光泉\"\n      },\n      \"午后時光\": {\n        \"午后時光\": \"光泉\"\n      },\n      \"晶典小品\": {\n        \"晶典小品\": \"光泉\"\n      },\n      \"光泉正庄\": {\n        \"光泉正庄\": \"光泉\"\n      },\n      \"富維克\": {\n        \"富維克礦泉水\": \"光泉\"\n      },\n      \"光泉北海道起司\": {\n        \"北海道起司\": \"光泉\"\n      },\n      \"別海牛乳\": {\n        \"別海牛乳\": \"光泉\"\n      },\n      \"光泉\": {\n        \"光泉\": \"光泉\"\n      },\n      \"茶裏王\": {\n        \"茶裏王\": \"統一\"\n      },\n      \"濃韻\": {\n        \"濃韻\": \"統一\"\n      },\n      \"麥香\": {\n        \"麥香\": \"統一\"\n      },\n      \"純喫茶\": {\n        \"純喫茶\": \"統一\"\n      },\n      \"飲冰室\": {\n        \"飲冰室茶集\": \"統一\"\n      },\n      \"美研社\": {\n        \"美研社\": \"統一\"\n      },\n      \"璞韻\": {\n        \"璞韻\": \"統一\"\n      },\n      \"原味本舖\": {\n        \"原味本舖\": \"統一\"\n      },\n      \"統一麵\": {\n        \"統一麵\": \"統一\"\n      },\n      \"滿漢大餐\": {\n        \"滿漢大餐Gold\": \"統一\"\n      },\n      \"來一客\": {\n        \"來一客\": \"統一\"\n      },\n      \"科學麵\": {\n        \"科學麵\": \"統一\"\n      },\n      \"阿Q桶麵\": {\n        \"阿Q桶麵\": \"統一\"\n      },\n      \"統一脆麵\": {\n        \"統一脆麵\": \"統一\"\n      },\n      \"好勁道\": {\n        \"好勁道\": \"統一\"\n      },\n      \"拉麵道\": {\n        \"拉麵道\": \"統一\"\n      },\n      \"統一調合米粉\": {\n        \"統一調合米粉\": \"統一\"\n      },\n      \"大補帖\": {\n        \"大補帖\": \"統一\"\n      },\n      \"滿漢御品\": {\n        \"滿漢御品\": \"統一\"\n      },\n      \"巷口乾麵\": {\n        \"巷口乾麵\": \"統一\"\n      },\n      \"UNIDESIGN\": {\n        \"UNIDESIGN\": \"統一\"\n      },\n      \"瑞穗鮮乳土司\": {\n        \"瑞穗鮮乳土司\": \"統一\"\n      },\n      \"瑞穗調味乳\": {\n        \"瑞穗調味乳\": \"統一\"\n      },\n      \"瑞穗鮮乳雪糕\": {\n        \"瑞穗鮮乳雪糕\": \"\"\n      },\n      \"瑞穗\": {\n        \"瑞穗鮮乳\": \"統一\"\n      },\n      \"Dr.Milker\": {\n        \"Dr.Milker\": \"統一\"\n      },\n      \"統一鮮乳\": {\n        \"統一鮮乳\": \"統一\"\n      },\n      \"NuZilk\": {\n        \"NuZilk\": \"統一\"\n      },\n      \"統一牛乳\": {\n        \"統一牛乳\": \"統一\"\n      },\n      \"統一麵包\": {\n        \"統一麵包\": \"統一\"\n      },\n      \"統一蛋糕屋\": {\n        \"統一蛋糕屋\": \"統一\"\n      },\n      \"晨光\": {\n        \"晨光\": \"統一\"\n      },\n      \"新感覺\": {\n        \"新感覺\": \"統一\"\n      },\n      \"Amelie's Bagel\": {\n        \"Amelie's Bagel\": \"統一\"\n      },\n      \"貝洛邦\": {\n        \"貝洛邦\": \"統一\"\n      },\n      \"統一多多\": {\n        \"多多\": \"統一\"\n      },\n      \"LP33\": {\n        \"LP33\": \"統一\"\n      },\n      \"L'uxpresso\": {\n        \"L'uxpresso\": \"統一\"\n      },\n      \"左岸咖啡館\": {\n        \"左岸咖啡館\": \"統一\"\n      },\n      \"咖啡廣場\": {\n        \"咖啡廣場\": \"統一\"\n      },\n      \"曼仕德\": {\n        \"曼仕德\": \"統一\"\n      },\n      \"HIS CAFÉ\": {\n        \"HIS CAFÉ\": \"統一\"\n      },\n      \"統一陽光\": {\n        \"統一陽光\": \"統一\"\n      },\n      \"統一蜜豆奶\": {\n        \"統一蜜豆奶\": \"統一\"\n      },\n      \"統一杏仁茶\": {\n        \"統一杏仁茶\": \"統一\"\n      },\n      \"纖果食感\": {\n        \"纖果食感\": \"統一\"\n      },\n      \"果漾\": {\n        \"果漾\": \"統一\"\n      },\n      \"園之味\": {\n        \"園之味\": \"統一\"\n      },\n      \"統一番茄汁\": {\n        \"統一番茄汁\": \"統一\"\n      },\n      \"統一布丁\": {\n        \"統一布丁\": \"統一\"\n      },\n      \"HIS＆HERS\": {\n        \"HIS＆HERS\": \"統一\"\n      },\n      \"滿漢\": {\n        \"滿漢\": \"統一\"\n      },\n      \"博客\": {\n        \"博客\": \"統一\"\n      },\n      \"Petlife\": {\n        \"Petlife\": \"統一\"\n      },\n      \"寶多福\": {\n        \"寶多福\": \"統一\"\n      },\n      \"寶貝狗\": {\n        \"寶貝狗\": \"統一\"\n      },\n      \"及第\": {\n        \"及第\": \"統一\"\n      },\n      \"獨饗\": {\n        \"獨饗\": \"統一\"\n      },\n      \"煮時光\": {\n        \"煮時光\": \"統一\"\n      },\n      \"水事紀\": {\n        \"水事紀\": \"統一\"\n      },\n      \"PH9.0\": {\n        \"統一PH9.0\": \"統一\"\n      },\n      \"UNI water\": {\n        \"UNI water\": \"統一\"\n      },\n      \"H2O純水\": {\n        \"統一H2O純水\": \"統一\"\n      },\n      \"UNI SPARKLING\": {\n        \"UNI SPARKLING\": \"統一\"\n      },\n      \"綺麗健康油\": {\n        \"綺麗健康油\": \"統一\"\n      },\n      \"清爽家\": {\n        \"清爽家\": \"統一\"\n      },\n      \"心焙\": {\n        \"心焙\": \"統一\"\n      },\n      \"健康3D\": {\n        \"健康3D\": \"統一\"\n      },\n      \"預倍\": {\n        \"預倍\": \"統一\"\n      },\n      \"POWERMATE\": {\n        \"POWERMATE\": \"統一\"\n      },\n      \"冰の戀\": {\n        \"冰の戀\": \"統一\"\n      },\n      \"Ice Walker\": {\n        \"Ice Walker\": \"統一\"\n      },\n      \"刨走族\": {\n        \"刨走族\": \"統一\"\n      },\n      \"麥香冰品\": {\n        \"麥香冰品\": \"統一\"\n      },\n      \"四季\": {\n        \"四季\": \"統一\"\n      },\n      \"統一水果牛乳\": {\n        \"統一水果牛乳\": \"統一\"\n      },\n      \"輕鬆小品\": {\n        \"輕鬆小品\": \"統一\"\n      },\n      \"伴點\": {\n        \"伴點\": \"統一\"\n      },\n      \"統一營養強化牛乳\": {\n        \"統一營養強化牛乳\": \"統一\"\n      },\n      \"BODYTALK\": {\n        \"BODYTALK\": \"統一\"\n      },\n      \"麥典\": {\n        \"麥典\": \"統一\"\n      },\n      \"統一熱狗\": {\n        \"統一熱狗\": \"統一\"\n      },\n      \"統一冰塊\": {\n        \"統一冰塊\": \"統一\"\n      },\n      \"Cophi\": {\n        \"Cophi\": \"統一\"\n      },\n      \"UNI FIT\": {\n        \"UNI FIT\": \"統一\"\n      },\n      \"X-POWER\": {\n        \"X-POWER\": \"統一\"\n      },\n      \"統一\": {\n        \"統一\": \"統一\"\n      },\n      \"家樂福\": {\n        \"家樂福\": \"家樂福\"\n      },\n      \"茂林畜牧場\": {\n        \"茂林畜牧場\": \"茂林畜牧場\"\n      },\n      \"真馨動福蛋\": {\n        \"真馨動福蛋\": \"于豐牧場\"\n      },\n      \"御品園\": {\n        \"御品園\": \"御品園\"\n      },\n      \"珍馨蛋\": {\n        \"珍馨蛋\": \"珍馨蛋\"\n      },\n      \"鮮活走地蛋\": {\n        \"鮮活走地蛋\": \"鮮活走地蛋\"\n      },\n      \"一顆好蛋\": {\n        \"一顆好蛋\": \"一顆好蛋\"\n      },\n      \"福記\": {\n        \"福記\": \"福記\"\n      },\n      \"中華食品\": {\n        \"中華食品\": \"中華食品\"\n      },\n      \"生發號\": {\n        \"生發號\": \"生發號\"\n      },\n      \"勤億蛋品\": {\n        \"勤億蛋品\": \"勤億蛋品\"\n      },\n      \"亞植有機農場\": {\n        \"亞植有機農場\": \"亞植有機農場\"\n      },\n      \"鮮乳坊\": {\n        \"鮮乳坊\": \"鮮乳坊\"\n      },\n      \"貓兒干\": {\n        \"貓兒干\": \"貓兒干\"\n      },\n      \"吉蒸牧場\": {\n        \"吉蒸牧場\": \"吉蒸牧場\"\n      },\n      \"阿華田\": {\n        \"阿華田\": \"溫德\"\n      },\n      \"OATLY\": {\n        \"OATLY\": \"OATLY\"\n      },\n      \"名屋\": {\n        \"名屋\": \"名屋\"\n      },\n      \"早點到\": {\n        \"早點到\": \"早點到\"\n      },\n      \"艾許\": {\n        \"艾許\": \"艾許\"\n      },\n      \"Echiré\": {\n        \"艾許\": \"艾許\"\n      },\n      \"Berti\": {\n        \"Berti\": \"Berti\"\n      },\n      \"養樂多\": {\n        \"養樂多\": \"養樂多\"\n      },\n      \"啵樂樂\": {\n        \"啵樂樂\": \"啵樂樂\"\n      },\n      \"果實繆繆\": {\n        \"果實繆繆\": \"台灣比菲多\"\n      },\n      \"好朋友\": {\n        \"好朋友\": \"台灣比菲多\"\n      },\n      \"純萃喝\": {\n        \"純萃喝\": \"台灣比菲多\"\n      },\n      \"植物之優\": {\n        \"植物之優\": \"台灣比菲多\"\n      },\n      \"超穀感\": {\n        \"超穀感\": \"台灣比菲多\"\n      },\n      \"蔻蔻那\": {\n        \"蔻蔻那\": \"台灣比菲多\"\n      },\n      \"質立\": {\n        \"質立\": \"台灣比菲多\"\n      },\n      \"優意思\": {\n        \"優意思\": \"台灣比菲多\"\n      },\n      \"乳之初\": {\n        \"乳之初\": \"台灣比菲多\"\n      },\n      \"活益比菲多\": {\n        \"活益比菲多\": \"台灣比菲多\"\n      },\n      \"比菲多\": {\n        \"比菲多\": \"台灣比菲多\"\n      },\n      \"雪坊\": {\n        \"雪坊\": \"雪坊\"\n      },\n      \"Madam Jans\": {\n        \"Madam Jans\": \"Madam Jans\"\n      },\n      \"茉莉芝\": {\n        \"Madam Jans\": \"Madam Jans\"\n      },\n      \"馬修嚴選\": {\n        \"馬修嚴選\": \"馬修嚴選\"\n      },\n      \"得意的一天\": {\n        \"得意的一天\": \"佳格\"\n      },\n      \"愛爾曼\": {\n        \"愛爾曼\": \"愛爾曼\"\n      },\n      \"澳洲奶協會\": {\n        \"澳洲奶協會\": \"澳洲奶協會\"\n      },\n      \"美祿\": {\n        \"美祿\": \"雀巢\"\n      },\n      \"雀巢\": {\n        \"雀巢\": \"雀巢\"\n      },\n      \"克寧\": {\n        \"克寧\": \"克寧\"\n      },\n      \"黑嘉麗\": {\n        \"黑嘉麗\": \"黑嘉麗\"\n      },\n      \"Oatly\": {\n        \"Oatly\": \"Oatly\"\n      },\n      \"國農\": {\n        \"國農\": \"國農\"\n      },\n      \"桂格\": {\n        \"桂格\": \"桂格\"\n      },\n      \"Mandor\": {\n        \"Mandor\": \"Mandor\"\n      },\n      \"So Good\": {\n        \"So Good\": \"So Good\"\n      },\n      \"佳味珍\": {\n        \"佳味珍\": \"佳味珍\"\n      },\n      \"廣達香\": {\n        \"廣達香\": \"廣達香\"\n      },\n      \"美藝\": {\n        \"美藝\": \"美藝\"\n      },\n      \"飛想茶\": {\n        \"飛想茶\": \"可口可樂\"\n      },\n      \"Fuzetea\": {\n        \"飛想茶\": \"可口可樂\"\n      },\n      \"綾鷹\": {\n        \"綾鷹\": \"可口可樂\"\n      },\n      \"OOHA\": {\n        \"OOHA\": \"可口可樂\"\n      },\n      \"原萃\": {\n        \"原萃\": \"可口可樂\"\n      },\n      \"爽健美茶\": {\n        \"爽健美茶\": \"可口可樂\"\n      },\n      \"紅茶花伝\": {\n        \"紅茶花伝\": \"可口可樂\"\n      },\n      \"喬亞\": {\n        \"喬亞\": \"可口可樂\"\n      },\n      \"GEORGIA\": {\n        \"喬亞\": \"可口可樂\"\n      },\n      \"動元素\": {\n        \"動元素\": \"可口可樂\"\n      },\n      \"AQUARIUS\": {\n        \"動元素\": \"可口可樂\"\n      },\n      \"可口可樂\": {\n        \"可口可樂\": \"可口可樂\"\n      },\n      \"Coca Cola\": {\n        \"可口可樂\": \"可口可樂\"\n      },\n      \"C&C氣泡飲\": {\n        \"C&C\": \"黑松\"\n      },\n      \"韋恩\": {\n        \"韋恩\": \"黑松\"\n      },\n      \"黑松\": {\n        \"黑松\": \"黑松\"\n      },\n      \"奧利多\": {\n        \"奧利多\": \"金車\"\n      },\n      \"礦沛\": {\n        \"礦沛\": \"金車\"\n      },\n      \"伯朗\": {\n        \"伯朗\": \"金車\"\n      },\n      \"金車\": {\n        \"金車\": \"金車\"\n      },\n      \"Tree Top\": {\n        \"樹頂\": \"樹頂\"\n      },\n      \"樹頂\": {\n        \"樹頂\": \"樹頂\"\n      },\n      \"LOTTE 樂天\": {\n        \"LOTTE 樂天\": \"LOTTE 樂天\"\n      },\n      \"Lotte\": {\n        \"LOTTE 樂天\": \"LOTTE 樂天\"\n      },\n      \"韓國樂天\": {\n        \"LOTTE 樂天\": \"LOTTE 樂天\"\n      },\n      \"VIDA\": {\n        \"VIDA\": \"VIDA\"\n      },\n      \"iSODA\": {\n        \"iSODA\": \"iSODA\"\n      },\n      \"七星\": {\n        \"七星\": \"七星\"\n      },\n      \"食在美好\": {\n        \"食在美好\": \"食在美好\"\n      },\n      \"HATA\": {\n        \"HATA\": \"HATA\"\n      },\n      \"Martinelli's\": {\n        \"Martinelli's\": \"Martinelli's\"\n      },\n      \"糖榮\": {\n        \"糖榮\": \"糖榮\"\n      },\n      \"Melissa\": {\n        \"Melissa\": \"Melissa\"\n      },\n      \"KIMURA DRINK\": {\n        \"木村飲料\": \"木村飲料\"\n      },\n      \"木村飲料\": {\n        \"木村飲料\": \"木村飲料\"\n      },\n      \"木村\": {\n        \"木村飲料\": \"木村飲料\"\n      },\n      \"波爾茶\": {\n        \"波爾茶\": \"波爾\"\n      },\n      \"波爾\": {\n        \"波爾\": \"波爾\"\n      },\n      \"Evian\": {\n        \"Evian\": \"Evian\"\n      },\n      \"依雲\": {\n        \"Evian\": \"Evian\"\n      },\n      \"Simple\": {\n        \"Simple\": \"Simple\"\n      },\n      \"究是果IN茶\": {\n        \"維大力\": \"南亞\"\n      },\n      \"維大力\": {\n        \"維大力\": \"南亞\"\n      },\n      \"Contrex\": {\n        \"Contrex\": \"Contrex\"\n      },\n      \"SAN BENEDETTO\": {\n        \"SAN BENEDETTO\": \"SAN BENEDETTO\"\n      },\n      \"普娜\": {\n        \"普娜\": \"普娜\"\n      },\n      \"Sugarlolo\": {\n        \"Sugarlolo\": \"Sugarlolo\"\n      },\n      \"舒味思\": {\n        \"舒味思\": \"舒味思\"\n      },\n      \"Schweppes\": {\n        \"舒味思\": \"舒味思\"\n      },\n      \"Perrier\": {\n        \"Perrier\": \"Perrier\"\n      },\n      \"聖沛黎洛\": {\n        \"聖沛黎洛\": \"聖沛黎洛\"\n      },\n      \"聖沛黎\": {\n        \"聖沛黎洛\": \"聖沛黎洛\"\n      },\n      \"DigiMax\": {\n        \"DigiMax\": \"DigiMax\"\n      },\n      \"泰象\": {\n        \"泰象\": \"泰象\"\n      },\n      \"Crodo\": {\n        \"Crodo\": \"Crodo\"\n      },\n      \"開喜\": {\n        \"開喜\": \"德記洋行\"\n      },\n      \"生活\": {\n        \"生活\": \"生活\"\n      },\n      \"古道\": {\n        \"古道\": \"真口味食品\"\n      },\n      \"Asahi Wonda\": {\n        \"Asahi Wonda\": \"Asahi\"\n      },\n      \"Asahi\": {\n        \"Asahi\": \"Asahi\"\n      },\n      \"麒麟\": {\n        \"麒麟\": \"麒麟\"\n      },\n      \"KIRIN\": {\n        \"麒麟\": \"麒麟\"\n      },\n      \"加多寶\": {\n        \"加多寶\": \"加多寶\"\n      },\n      \"Arizona\": {\n        \"Arizona\": \"Arizona\"\n      },\n      \"熊津\": {\n        \"熊津\": \"熊津\"\n      },\n      \"伊右衛門\": {\n        \"伊右衛門\": \"三得利\"\n      },\n      \"伊藤園\": {\n        \"伊藤園\": \"伊藤園\"\n      },\n      \"茶本味\": {\n        \"茶本味\": \"茶本味\"\n      },\n      \"尋仙找茶\": {\n        \"尋仙找茶\": \"尋仙找茶\"\n      },\n      \"潤之泉\": {\n        \"潤之泉\": \"潤泉\"\n      },\n      \"恬康樂\": {\n        \"恬康樂\": \"恬康樂\"\n      },\n      \"TEEKANNE\": {\n        \"恬康樂\": \"恬康樂\"\n      },\n      \"双茶會\": {\n        \"双茶會\": \"匯竑\"\n      },\n      \"雙茶會\": {\n        \"双茶會\": \"匯竑\"\n      },\n      \"阿薩姆\": {\n        \"阿薩姆\": \"匯竑\"\n      },\n      \"蔬纖\": {\n        \"蔬纖\": \"匯竑\"\n      },\n      \"美果多\": {\n        \"美果多\": \"匯竑\"\n      },\n      \"匯竑\": {\n        \"匯竑\": \"匯竑\"\n      },\n      \"匯竤\": {\n        \"匯竑\": \"匯竑\"\n      },\n      \"O卡桑\": {\n        \"O卡桑\": \"日進生技\"\n      },\n      \"OKASANG\": {\n        \"O卡桑\": \"日進生技\"\n      },\n      \"老北京\": {\n        \"老北京\": \"家鄉事業\"\n      },\n      \"UCC\": {\n        \"UCC\": \"優仕咖啡\"\n      },\n      \"吉津\": {\n        \"吉津\": \"吉津\"\n      },\n      \"紐約客\": {\n        \"紐約客\": \"紐約客\"\n      },\n      \"立頓\": {\n        \"立頓\": \"聯合利華\"\n      },\n      \"康寶\": {\n        \"康寶\": \"聯合利華\"\n      },\n      \"Knorr\": {\n        \"康寶\": \"聯合利華\"\n      },\n      \"貝思寶兒\": {\n        \"貝思寶兒\": \"貝思寶兒\"\n      },\n      \"Bessie Byer\": {\n        \"貝思寶兒\": \"貝思寶兒\"\n      },\n      \"葡萄王\": {\n        \"葡萄王\": \"葡萄王\"\n      },\n      \"小葉紅\": {\n        \"小葉紅\": \"小葉紅\"\n      },\n      \"SANGARIA\": {\n        \"SANGARIA\": \"SANGARIA\"\n      },\n      \"蠻牛\": {\n        \"蠻牛\": \"保力達\"\n      },\n      \"保力達\": {\n        \"保力達\": \"保力達\"\n      },\n      \"昭憲茶業\": {\n        \"昭憲茶業\": \"昭憲茶業\"\n      },\n      \"自然補給\": {\n        \"自然補給\": \"自然補給\"\n      },\n      \"優補達人\": {\n        \"優補達人\": \"優補達人\"\n      },\n      \"鐵牛\": {\n        \"鐵牛\": \"旺霖製藥\"\n      },\n      \"精神多多\": {\n        \"精神多多\": \"朝日\"\n      },\n      \"可爾必思\": {\n        \"可爾必思\": \"朝日\"\n      },\n      \"Monster 魔爪\": {\n        \"魔爪\": \"猛事特能量\"\n      },\n      \"魔爪\": {\n        \"魔爪\": \"猛事特能量\"\n      },\n      \"維士比\": {\n        \"維士比\": \"三洋維士比\"\n      },\n      \"BeRule\": {\n        \"BeRule\": \"永茂生技\"\n      },\n      \"丸三\": {\n        \"丸三\": \"丸三愛\"\n      },\n      \"關西鎮農會\": {\n        \"關西鎮農會\": \"關西鎮農會\"\n      },\n      \"誠茗\": {\n        \"誠茗\": \"誠茗\"\n      },\n      \"台鐵好茶\": {\n        \"台鐵好茶\": \"臺鐵\"\n      },\n      \"臺鐵\": {\n        \"臺鐵\": \"臺鐵\"\n      },\n      \"康健生機\": {\n        \"康健生機\": \"有幾園生物科技\"\n      },\n      \"台酒\": {\n        \"台酒\": \"臺灣菸酒\"\n      },\n      \"可果美\": {\n        \"可果美\": \"可果美\"\n      },\n      \"酷椰嶼\": {\n        \"酷椰嶼\": \"酷椰嶼\"\n      },\n      \"Koh Coconut\": {\n        \"酷椰嶼\": \"酷椰嶼\"\n      },\n      \"朶雀\": {\n        \"朶雀\": \"朶雀\"\n      },\n      \"DOLCEUVA\": {\n        \"朶雀\": \"朶雀\"\n      },\n      \"Granini\": {\n        \"Granini\": \"Granini\"\n      },\n      \"茱兒\": {\n        \"茱兒\": \"西班牙茱兒\"\n      },\n      \"Juver\": {\n        \"茱兒\": \"西班牙茱兒\"\n      },\n      \"爸爸的農場\": {\n        \"爸爸的農場\": \"爸爸的農場\"\n      },\n      \"半天水\": {\n        \"半天水\": \"半天水\"\n      },\n      \"十全\": {\n        \"十全\": \"十全\"\n      },\n      \"百工\": {\n        \"百工\": \"百工\"\n      },\n      \"新東陽\": {\n        \"新東陽\": \"新東陽\"\n      },\n      \"紅鷹牌\": {\n        \"紅鷹牌\": \"活寶食品\"\n      },\n      \"同榮\": {\n        \"同榮\": \"同榮\"\n      },\n      \"大茂\": {\n        \"大茂\": \"大茂\"\n      },\n      \"橘平屋\": {\n        \"橘平屋\": \"橘平實業\"\n      },\n      \"維力\": {\n        \"維力\": \"維力\"\n      },\n      \"台鳳牌\": {\n        \"台鳳牌\": \"台鳳牌\"\n      },\n      \"觀音牌\": {\n        \"觀音牌\": \"觀音牌\"\n      },\n      \"普格\": {\n        \"普格\": \"普格\"\n      },\n      \"Prego\": {\n        \"普格\": \"普格\"\n      },\n      \"牛頭牌\": {\n        \"牛頭牌\": \"好帝一食品\"\n      },\n      \"克隆\": {\n        \"克隆\": \"克隆\"\n      },\n      \"AS do MAR\": {\n        \"AS do MAR\": \"AS do MAR\"\n      },\n      \"Barilla\": {\n        \"百味來\": \"百味來\"\n      },\n      \"百味來\": {\n        \"百味來\": \"百味來\"\n      },\n      \"亨氏\": {\n        \"亨氏\": \"亨氏\"\n      },\n      \"清水食品\": {\n        \"SSK\": \"清水食品\"\n      },\n      \"SSK\": {\n        \"SSK\": \"清水食品\"\n      },\n      \"高慶泉\": {\n        \"高慶泉\": \"高慶泉\"\n      },\n      \"日清\": {\n        \"日清\": \"日清\"\n      },\n      \"多蔬\": {\n        \"多蔬\": \"多蔬\"\n      },\n      \"Daucy\": {\n        \"多蔬\": \"多蔬\"\n      },\n      \"CASA SICILIA\": {\n        \"CASA SICILIA\": \"CASA SICILIA\"\n      },\n      \"Rummo\": {\n        \"Rummo\": \"Rummo\"\n      },\n      \"丸美屋\": {\n        \"丸美屋\": \"丸美屋\"\n      },\n      \"如意\": {\n        \"如意\": \"如意\"\n      },\n      \"Jimmy\": {\n        \"Jimmy\": \"Jimmy\"\n      },\n      \"菇王\": {\n        \"菇王\": \"菇王\"\n      },\n      \"萊瑞\": {\n        \"萊瑞\": \"萊瑞\"\n      },\n      \"奧利塔\": {\n        \"奧利塔\": \"奧利塔\"\n      },\n      \"Olitalia\": {\n        \"奧利塔\": \"奧利塔\"\n      },\n      \"蘿曼利\": {\n        \"蘿曼利\": \"蘿曼利\"\n      },\n      \"德麗莎\": {\n        \"德麗莎\": \"德麗莎\"\n      },\n      \"Mantova\": {\n        \"Mantova\": \"Mantova\"\n      },\n      \"Costa d'Oro\": {\n        \"高士達\": \"高士達\"\n      },\n      \"高士達\": {\n        \"高士達\": \"高士達\"\n      },\n      \"余順豐\": {\n        \"余順豐\": \"余順豐\"\n      },\n      \"源順\": {\n        \"源順\": \"源順\"\n      },\n      \"瑪伊娜\": {\n        \"瑪伊娜\": \"宏常\"\n      },\n      \"De Cecco\": {\n        \"De Cecco\": \"聯馥食品\"\n      },\n      \"龐世\": {\n        \"龐世\": \"聯馥食品\"\n      },\n      \"GRUP PONS\": {\n        \"龐世\": \"聯馥食品\"\n      },\n      \"IL GREZZO\": {\n        \"IL GREZZO\": \"IL GREZZO\"\n      },\n      \"YBARRA\": {\n        \"益百萊\": \"益百萊\"\n      },\n      \"Solete\": {\n        \"Solete\": \"Solete\"\n      },\n      \"凡饗食客\": {\n        \"凡饗食客\": \"法奇歐尼\"\n      },\n      \"法奇歐尼\": {\n        \"法奇歐尼\": \"法奇歐尼\"\n      },\n      \"FARCHIONI\": {\n        \"法奇歐尼\": \"法奇歐尼\"\n      },\n      \"SAN GIULIANO\": {\n        \"SAN GIULIANO\": \"SAN GIULIANO\"\n      },\n      \"依格閣\": {\n        \"依格閣\": \"宏常\"\n      },\n      \"義多娜\": {\n        \"義多娜\": \"義多娜\"\n      },\n      \"EKKO\": {\n        \"EKKO\": \"EKKO\"\n      },\n      \"泰源農場\": {\n        \"泰源農場\": \"泰源農場\"\n      },\n      \"弗昂\": {\n        \"弗昂\": \"弗昂\"\n      },\n      \"普羅西歐\": {\n        \"普羅西歐\": \"普羅西歐\"\n      },\n      \"艾娃橄欖\": {\n        \"艾娃橄欖\": \"艾娃橄欖\"\n      },\n      \"奧莉恩\": {\n        \"奧莉恩\": \"奧莉恩\"\n      },\n      \"皇嘉Oro\": {\n        \"皇嘉\": \"皇嘉\"\n      },\n      \"皇嘉\": {\n        \"皇嘉\": \"皇嘉\"\n      },\n      \"莫尼尼\": {\n        \"莫尼尼\": \"莫尼尼\"\n      },\n      \"MONIN\": {\n        \"莫尼尼\": \"莫尼尼\"\n      },\n      \"米森\": {\n        \"米森\": \"米森\"\n      },\n      \"希瑞\": {\n        \"希瑞\": \"希瑞\"\n      },\n      \"Gemignani\": {\n        \"Gemignani\": \"Gemignani\"\n      },\n      \"青樂職人\": {\n        \"青樂職人\": \"青樂職人\"\n      },\n      \"釀美舖\": {\n        \"釀美舖\": \"釀美舖\"\n      },\n      \"籽熊寶茶油\": {\n        \"籽熊寶茶油\": \"籽熊寶茶油\"\n      },\n      \"Laudemio Frescobaldi\": {\n        \"Laudemio Frescobaldi\": \"Laudemio Frescobaldi\"\n      },\n      \"人良油坊\": {\n        \"人良油坊\": \"人良油坊\"\n      },\n      \"好油專家\": {\n        \"好油專家\": \"好油專家\"\n      },\n      \"PASSERI\": {\n        \"PASSERI\": \"PASSERI\"\n      },\n      \"健酪\": {\n        \"健酪\": \"健酪\"\n      },\n      \"大武山牧場\": {\n        \"大武山牧場\": \"大武山牧場\"\n      },\n      \"早安香禾蛋\": {\n        \"早安香禾蛋\": \"早安香禾蛋\"\n      },\n      \"羅東農會羅董\": {\n        \"羅董\": \"羅東農會\"\n      },\n      \"台灣黑輪伯\": {\n        \"台灣黑輪伯\": \"台灣黑輪伯\"\n      },\n      \"綠璽牧場\": {\n        \"綠璽牧場\": \"綠璽牧場\"\n      },\n      \"所長\": {\n        \"所長\": \"所長茶葉蛋\"\n      },\n      \"全馨\": {\n        \"全馨\": \"全馨畜牧場\"\n      },\n      \"台畜\": {\n        \"台畜\": \"台畜\"\n      },\n      \"牧大\": {\n        \"牧大畜牧場\": \"瑞牧食品\"\n      },\n      \"蛋黃香人道雞蛋\": {\n        \"蛋黃香人道雞蛋\": \"勤億\"\n      },\n      \"福爾摩沙小農\": {\n        \"福爾摩沙\": \"速易達\"\n      },\n      \"阿猴\": {\n        \"阿猴鮮乳\": \"台農\"\n      },\n      \"Binggrae\": {\n        \"Binggrae\": \"Binggrae\"\n      },\n      \"初鹿鮮乳\": {\n        \"初鹿鮮乳\": \"初鹿牧場\"\n      },\n      \"高大牧場\": {\n        \"高大牧場\": \"高大牧場\"\n      },\n      \"水沙連鮮乳\": {\n        \"水沙連鮮乳\": \"動福陽柳牧場\"\n      },\n      \"農民花東縱谷鮮乳\": {\n        \"農民花東縱谷鮮乳\": \"農民花東縱谷鮮乳\"\n      },\n      \"喬伊鮮乳\": {\n        \"喬伊鮮乳\": \"19號\"\n      },\n      \"雪比\": {\n        \"雪比優格\": \"雪比優格\"\n      },\n      \"Pascual\": {\n        \"Pascual\": \"Pascual\"\n      },\n      \"PASCUAL\": {\n        \"Pascual\": \"Pascual\"\n      },\n      \"西班牙草莓果粒優格\": {\n        \"Pascual\": \"Pascual\"\n      },\n      \"西班牙杏桃芒果優格\": {\n        \"Pascual\": \"Pascual\"\n      },\n      \"牧實\": {\n        \"牧實\": \"牧實\"\n      },\n      \"莫凡彼\": {\n        \"莫凡彼\": \"莫凡彼\"\n      },\n      \"Zottis\": {\n        \"Zottis\": \"Zott\"\n      },\n      \"OATSIDE\": {\n        \"OATSIDE\": \"OATSIDE\"\n      },\n      \"林銀杏\": {\n        \"林銀杏\": \"林銀杏\"\n      },\n      \"歐瑞仕\": {\n        \"歐瑞仕\": \"歐瑞仕\"\n      },\n      \"Orasi\": {\n        \"歐瑞仕\": \"歐瑞仕\"\n      },\n      \"格力高\": {\n        \"格力高\": \"格力高\"\n      },\n      \"Mand'Or\": {\n        \"Mand'Or\": \"Mand'Or\"\n      },\n      \"打拋醬六連包\": {\n        \"品高\": \"品高\"\n      },\n      \"新松\": {\n        \"新松\": \"新松\"\n      },\n      \"S G\": {\n        \"S&G\": \"S&G\"\n      },\n      \"白玉美滋\": {\n        \"佳味珍\": \"白雪食品\"\n      },\n      \"剝皮辣椒味噌醬\": {\n        \"大榮\": \"大榮\"\n      },\n      \"兵戶\": {\n        \"兵戶\": \"兵戶\"\n      },\n      \"爭鮮\": {\n        \"爭鮮\": \"爭鮮\"\n      },\n      \"忘憂小館\": {\n        \"忘憂小館\": \"忘憂小館\"\n      },\n      \"一顆雞蛋布丁\": {\n        \"一顆雞蛋布丁\": \"一顆雞蛋布丁\"\n      },\n      \"鮮芋仙\": {\n        \"鮮芋仙\": \"鮮芋仙\"\n      },\n      \"蓮發\": {\n        \"蓮發\": \"蓮發\"\n      },\n      \"可康\": {\n        \"可康\": \"可康\"\n      },\n      \"斐濟天然礦泉水\": {\n        \"斐濟水\": \"斐濟水\"\n      },\n      \"日田天領水\": {\n        \"日田天領水\": \"日田天領水\"\n      },\n      \"濟州\": {\n        \"濟州\": \"濟州\"\n      },\n      \"賓德寶\": {\n        \"賓德寶\": \"賓德寶\"\n      },\n      \"Bundaberg\": {\n        \"賓德寶\": \"賓德寶\"\n      },\n      \"VOSS\": {\n        \"VOSS\": \"VOSS\"\n      },\n      \"芙絲\": {\n        \"VOSS\": \"VOSS\"\n      },\n      \"沛綠雅\": {\n        \"Perrier\": \"Perrier\"\n      },\n      \"Egekilde\": {\n        \"Egekilde\": \"Egekilde\"\n      },\n      \"伊克萊\": {\n        \"Egekilde\": \"Egekilde\"\n      },\n      \"Mia C'bon\": {\n        \"Mia C'bon\": \"Mia C'bon\"\n      },\n      \"果日優選\": {\n        \"果日優選\": \"果日優選\"\n      },\n      \"金寶\": {\n        \"金寶\": \"金寶\"\n      },\n      \"關西\": {\n        \"關西\": \"關西鎮農會\"\n      },\n      \"初嚐\": {\n        \"初嚐\": \"初嚐\"\n      },\n      \"果日飲\": {\n        \"果日飲\": \"果日飲\"\n      },\n      \"牧真\": {\n        \"牧真\": \"田莊牧場\"\n      },\n      \"形動\": {\n        \"形動\": \"旺旺\"\n      },\n      \"黑丸\": {\n        \"黑丸\": \"黑丸\"\n      },\n      \"Kai \": {\n        \"Kai 康普茶\": \"Kai 康普茶\"\n      },\n      \"HOMER\": {\n        \"HOMER\": \"HOMER\"\n      },\n      \"活力東勢\": {\n        \"活力東勢\": \"活力東勢\"\n      },\n      \"奧納芮\": {\n        \"奧納芮\": \"可果美\"\n      },\n      \"味島\": {\n        \"味島\": \"味島\"\n      },\n      \"遠洋牌\": {\n        \"遠洋牌\": \"遠洋牌\"\n      },\n      \"高仰三\": {\n        \"高仰三\": \"高仰三\"\n      },\n      \"奧斯卡國王\": {\n        \"奧斯卡國王\": \"奧斯卡國王\"\n      },\n      \"浦島\": {\n        \"浦島\": \"浦島\"\n      },\n      \"國分\": {\n        \"國分\": \"國分\"\n      },\n      \"Delicias\": {\n        \"Delicias\": \"Delicias\"\n      },\n      \"橄欖諾娃\": {\n        \"橄欖諾娃\": \"橄欖諾娃\"\n      },\n      \"博能\": {\n        \"博能生機\": \"博能生機\"\n      },\n      \"歐嘉\": {\n        \"歐嘉\": \"歐嘉\"\n      },\n      \"康迪\": {\n        \"康迪\": \"康迪\"\n      },\n      \"巴貝拉\": {\n        \"巴貝拉\": \"巴貝拉\"\n      },\n      \"ATHLON\": {\n        \"ATHLON\": \"ATHLON\"\n      },\n      \"泉植日\": {\n        \"泉植日\": \"泉植日\"\n      },\n      \"豆豆濃\": {\n        \"豆豆濃\": \"豆豆濃\"\n      },\n      \"西湖市場\": {\n        \"西湖市場\": \"西湖市場\"\n      },\n      \"員山農會\": {\n        \"員山農會\": \"員山農會\"\n      },\n      \"美粒果\": {\n        \"美粒果\": \"美粒果\"\n      },\n      \"大喜蜜\": {\n        \"大喜蜜\": \"大喜蜜\"\n      },\n      \"元歲本舖\": {\n        \"元歲本舖\": \"元歲本舖\"\n      },\n      \"楓緣\": {\n        \"楓緣\": \"楓緣\"\n      },\n      \"屏大\": {\n        \"屏大\": \"屏大\"\n      },\n      \"龜甲萬\": {\n        \"龜甲萬\": \"龜甲萬\"\n      },\n      \"瑞春\": {\n        \"瑞春\": \"瑞春\"\n      },\n      \"德助\": {\n        \"德助\": \"德助\"\n      },\n      \"大同\": {\n        \"大同\": \"大同\"\n      },\n      \"味榮\": {\n        \"味榮\": \"味榮\"\n      },\n      \"陶板屋\": {\n        \"陶板屋\": \"陶板屋\"\n      },\n      \"西堤\": {\n        \"西堤\": \"西堤\"\n      },\n      \"老干媽\": {\n        \"老干媽\": \"老干媽\"\n      },\n      \"東泉\": {\n        \"東泉\": \"東泉\"\n      },\n      \"老騾子\": {\n        \"老騾子\": \"老騾子\"\n      },\n      \"寧記\": {\n        \"寧記\": \"寧記\"\n      },\n      \"TABASCO\": {\n        \"TABASCO\": \"TABASCO\"\n      },\n      \"CJ BIBIGO\": {\n        \"BIBIGO\": \"CJ\"\n      },\n      \"CJ韓國\": {\n        \"CJ\": \"CJ\"\n      },\n      \"韓國不倒翁\": {\n        \"韓國不倒翁\": \"韓國不倒翁\"\n      },\n      \"誠泰\": {\n        \"誠泰\": \"誠泰\"\n      },\n      \"多吉師\": {\n        \"多吉師\": \"多吉師\"\n      },\n      \"日本青森縣\": {\n        \"日本青森縣\": \"日本青森縣\"\n      },\n      \"星巴克\": {\n        \"星巴克\": \"統一\"\n      },\n      \"STARBUCKS\": {\n        \"星巴克\": \"統一\"\n      },\n      \"AB\": {\n        \"AB\": \"統一\"\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        712
      ],
      "id": "05f46775-c5ae-4d14-82b6-58fbd7f2fce2",
      "name": "Mapping"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return {\"url\": \"https://24h.pchome.com.tw/search/?q=%E9%AE%AE%E4%B9%B3&p=1\"}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        976
      ],
      "id": "17c4f53e-2dde-497a-a19b-a7c2ae25735d",
      "name": "PChome"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        976
      ],
      "id": "d17b963a-6535-4729-b7f4-f8b6e9010dc6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        256
      ],
      "id": "29acbb3f-cd8e-4a98-bfb8-5b67fd796b42",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        64
      ],
      "id": "a1b5811c-4802-4427-9f30-f77a733feb4a",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": ".c-prodInfoV2__infoBox.c-prodInfoV2__infoBox--storeProdInfoCard .c-prodInfoV2__title",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        880
      ],
      "id": "65720787-f78c-41c5-9488-abb25ffe6d8a",
      "name": "品名、規格"
    },
    {
      "parameters": {
        "fieldToSplitOut": "name",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        880
      ],
      "id": "c8acc305-145b-4a26-86c1-4ec735b2de3a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        1072
      ],
      "id": "7e831589-9a34-4b23-b076-7691786f13d1",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        976
      ],
      "id": "581e27ea-50e0-4cbe-a4c1-a51c4c47c562",
      "name": "Merge3"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "base_url = \"https://24h.pchome.com.tw\"\nproducts = []\n\nfor product in _items:\n  product = product.get(\"json\")\n\n  products.append({\n    # \"ID\",  # Primary key\n    \"CRAWLER_NAME\": \"PChome\",\n    \"REQUEST_URL\": base_url + product.get(\"url\"),\n    \"SOURCE\": \"爬蟲\",\n    \"RETAILER\": \"WebCrawler_PChome\",\n    \"PRODUCT_NAME\": product.get(\"name\"),\n    \"CATEGORY\": \"\",\n    \"MANUFACTURER\": \"\",\n    \"BRAND\": \"\",\n    \"SPEC\": \"\",\n    \"PRICE\": None,\n    \"PROMO\": \"\",\n    \"NEW\": 0,\n    \"STATUS\": \"\",\n    # \"CREATE_DATE\",  # SQL 自動產生\n    # \"CREATE_USER_ID\",  # SQL 自動產生\n  })\n\nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        976
      ],
      "id": "de5ab94c-a1cd-436f-835c-9b9d0ec8c2e8",
      "name": "Code in Python (Native)2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "url",
              "cssSelector": ".c-prodInfoV2__link.gtmClickV2",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        1072
      ],
      "id": "f5c29819-9dea-42de-85ba-3d8b9b163f93",
      "name": "URL"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        -152
      ],
      "id": "6b566594-b877-4398-b834-3dd6b1c8d382",
      "name": "合併 mapping、data"
    },
    {
      "parameters": {
        "table": "WC_AI_CWL_PRODUCTS_LITE",
        "columns": "CRAWLER_NAME,REQUEST_URL,SOURCE,RETAILER,PRODUCT_NAME,CATEGORY,MANUFACTURER,BRAND,SPEC,PRICE,PROMO,NEW,STATUS"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2112,
        328
      ],
      "id": "98c851c5-dd04-4125-b338-0c387bac3128",
      "name": "存入資料庫",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "xTQvT5BbrXV3n2PV",
          "name": "QasEfgpServer"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "script",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        320,
        256
      ],
      "id": "aa1875c9-a980-4542-b3d6-994974e94154",
      "name": "HTML1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        1552
      ],
      "id": "cd14f301-ac7d-4bad-9f60-c1ce1b5b8189",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "url",
              "cssSelector": "iframe",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        96,
        1504
      ],
      "id": "4dc7a9c6-a62d-4eb9-a6ad-df0a2ae07ddf",
      "name": "取得雲端 PDF URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": "meta[property=\"og:title\"]",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        1552
      ],
      "id": "311f85b0-a623-4fab-a5f8-9e9866c14602",
      "name": "取得 PDF name"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        1504
      ],
      "id": "f6b98942-13b0-4619-bdb8-f742411026e8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "=https://www.carrefour.com.tw/console/api/v1/catalogues?page=1&page_size=all",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        1264
      ],
      "id": "c764328f-95d2-4bfe-927f-c5653c621d84",
      "name": "家樂福 DM"
    },
    {
      "parameters": {
        "url": "=https://www.fe-amart.com.tw/index.php/edm",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        1504
      ],
      "id": "6d94703c-daa8-4402-9f33-73e8280b1009",
      "name": "愛買 DM"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# base_url = \"https://www.carrefour.com.tw/catalogue-view/?catalogue=\"\nbase_url = \"https://www.carrefour.com.tw/console/api/v1/catalogues/\"\ndata = []\n\nfor row in _items[0][\"json\"][\"data\"][\"rows\"]:\n  if row[\"category_name\"] == \"量販促銷\":\n    data.append({\n      \"name\": row[\"name\"],\n      \"url\": base_url + row[\"en_name\"]\n    })\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1264
      ],
      "id": "c50912b8-0dc3-47b4-aa47-0b3bdeded37c",
      "name": "Code in Python (Native)3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        1264
      ],
      "id": "182103b0-0dfc-496f-843c-159b140e325e",
      "name": "HTTP Request6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        1408
      ],
      "id": "1ca249cf-2976-47cd-b136-5a00b4114d58",
      "name": "合併 DM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "161d8b5a-1e91-4144-b0d0-94749f2468e4",
              "name": "name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "83c62f1d-e8cb-4755-87a4-c3a0d0a0ce1c",
              "name": "url",
              "value": "={{ $json.data.pdfs[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        1264
      ],
      "id": "f9d1de4b-672b-4dce-99d0-957ca1ed88fe",
      "name": "取出 name、url"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "data = []\n\nfor item in _items:\n  json = item[\"json\"]\n  \n  data.append({\n    # \"ID\",  # Primary key\n    \"CRAWLER_NAME\": \"家樂福\",\n    \"REQUEST_URL\": json.get(\"url\"),\n    \"SOURCE\": \"爬蟲\",\n    \"RETAILER\": \"WebCrawler_Carrefour\",\n    \"PRODUCT_NAME\": json.get(\"name\"),\n    \"CATEGORY\": \"\",\n    \"MANUFACTURER\": \"\",\n    \"BRAND\": \"\",\n    \"SPEC\": json.get(\"spec\"),\n    \"PRICE\": json.get(\"price\"),\n    \"PROMO\": \"\",\n    \"NEW\": 0,\n    \"STATUS\": \"\",\n    # \"CREATE_DATE\",  # SQL 自動產生\n    # \"CREATE_USER_ID\",  # SQL 自動產生\n  })\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -416
      ],
      "id": "9709bad2-efee-4016-8c21-02119e2d3edc",
      "name": "轉成 db 欄位1"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return {\"url\": \"https://www.momoshop.com.tw/search/鮮乳?_isFuzzy=0&searchType=1&curPage=1\"}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        256
      ],
      "id": "14f74fee-5c26-4006-8b41-a545c8f96558",
      "name": "Momo",
      "disabled": true
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import json\nimport re\n\n\nfor text in _items[0][\"json\"][\"data\"]:\n  if not text or len(text) < 10000:\n    continue\n\n  results = re.findall(r'\\{[^{}]*\\}', text)\n\n  l = []\n  for text in results:\n    try:\n      text = text.replace(\"\\\\\", \"\")\n      d = json.load(text)\n      l.append(d)\n      \n    except Exception as e:\n      print(e)\n    \n\n  return({\"\": l})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        256
      ],
      "id": "5759209f-f2be-45bc-af73-a8a16aa9ae20",
      "name": "Code in Python (Native)1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df1de454-ea38-42c6-ad3b-9306690b57ba",
              "leftValue": "={{ $json.CATEGORY }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1888,
        424
      ],
      "id": "1a20ce90-4955-43ed-bcc5-04b728313549",
      "name": "判斷資料是否要留"
    },
    {
      "parameters": {
        "options": {
          "fileName": "n8n_test.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2112,
        520
      ],
      "id": "b8d2210b-0a15-4c03-887e-fb113f0f2254",
      "name": "不要的資料存 csv",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "url",
              "cssSelector": "input#resulturl",
              "returnValue": "attribute",
              "attribute": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        320,
        -320
      ],
      "id": "20d5b689-3c0c-412c-8bd1-2f53970d4ff1",
      "name": "取得第一頁內容 url，避免 memory 過載"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        -320
      ],
      "id": "ae6eb1ca-6b08-4614-9777-7259dbfc4ce6",
      "name": "取得頁面內容"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "553e8cbb-c546-475a-b844-1117402ae55a",
              "leftValue": "={{ $json.class }}",
              "rightValue": "\"\"",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -224
      ],
      "id": "6f840651-7adb-444d-917d-45f7f71b7830",
      "name": "檢查有無下一頁"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "pythonNative",
        "pythonCode": "onclick = _item[\"json\"][\"onclick\"]\nurl = onclick.split(\"'\")[1]\nreturn {\"url\": url}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        280
      ],
      "id": "61fc3b58-395d-4be0-b8e1-48606731d780",
      "name": "有下一頁，取 url"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": ".gtm-product-alink",
              "returnValue": "attribute",
              "attribute": "data-name",
              "returnArray": true
            },
            {
              "key": "price",
              "cssSelector": "em",
              "returnArray": true
            },
            {
              "key": "spec",
              "cssSelector": ".gtm-product-alink",
              "returnValue": "attribute",
              "attribute": "data-variant",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".gtm-product-alink",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        768,
        -416
      ],
      "id": "3cf6a64f-78d2-4d6b-9d5c-4bc98512fd57",
      "name": "取要的欄位"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -320
      ],
      "id": "578a3b97-5120-4ec0-9400-daf9ba1fc77c",
      "name": "取整頁 (資料大)"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "class",
              "cssSelector": ".pagenation li:nth-last-child(2)",
              "returnValue": "attribute",
              "attribute": "class"
            },
            {
              "key": "onclick",
              "cssSelector": ".pagenation li:nth-last-child(2) a",
              "returnValue": "attribute",
              "attribute": "onclick"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        992,
        -224
      ],
      "id": "8e14cf6c-b9b2-433a-99de-b4b669af22f3",
      "name": "取下一頁"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "base_url = \"https://online.carrefour.com.tw\"\nresult = []\n\nfor item in _items:\n  names = item[\"json\"][\"name\"]\n  prices = item[\"json\"][\"price\"]\n  specs= item[\"json\"][\"spec\"]\n  urls = item[\"json\"][\"url\"]\n  \n  for name, price, spec, url in zip(names, prices, specs, urls):\n    # 刪除品名的備註\n    name = name.split(\"※實際到貨效\")[0]\n    name = name.split(\"到貨效期\")[0]\n    \n    # 價格取整數\n    price = int(''.join(filter(str.isdigit, price)))\n\n    # 組 url\n    url = base_url + url\n                        \n    result.append({\n      \"name\": name,\n      \"price\": price,\n      \"spec\": spec,  \n      \"url\": url,\n    })\n    \nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -416
      ],
      "id": "c17ff087-433e-4ef6-b227-0e9e7dc57b05",
      "name": "拉平"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": ".b-subarea.b-layout-right",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        64
      ],
      "id": "f54cab7d-6cc2-46f4-a690-35bacd09823f",
      "name": "取要的區塊"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "name",
              "cssSelector": "div.hs2xhh span",
              "returnArray": true
            },
            {
              "key": "price",
              "cssSelector": "._1md3074m._6xzpdbhq._6xzpdbi5._6xzpdbyh._6xzpdbew._1md30741b._6xzpdbh3._6xzpdbhe._6xzpdbk4.qa-productcard-product-price",
              "returnArray": true
            },
            {
              "key": "detail",
              "cssSelector": "._6xzpdbha._6xzpdba8.eb8n8r1._6xzpdbhd.ds-price-prefix",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".zAgWYskO3Y_ExuRqGBpM a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        768,
        64
      ],
      "id": "dbccc84c-3175-4d16-b3ec-1e9f3122094c",
      "name": "取要的欄位1"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\n\ndata = []\n\nfor item in _items:\n  names = item[\"json\"][\"name\"]\n  prices = item[\"json\"][\"price\"]\n  details= item[\"json\"][\"detail\"]\n  urls = item[\"json\"][\"url\"]\n  \n  for name, price, detail, url in zip(names, prices, details, urls):\n    # 品名\n    name = name.replace(\"【愛買】\", \"\")\n    \n    # 規格\n    spec = \"\"\n    pattern = r\"(\\d+(?:\\.\\d+)?)\\s*(ml|l|g|kg)\"\n    match = re.search(pattern, name, re.IGNORECASE)\n    \n    if match:\n      spec = match.group(0).lower()\n      \n      # 品名\n      name = name.replace(match.group(0), \"\")\n    \n    data.append({\n      \"name\": name,\n      \"price\": price,\n      \"spec\": spec,\n      \"promo\": detail,\n      \"url\": url,\n    })\n    \nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        64
      ],
      "id": "0f8e00aa-818d-410e-b2db-112e63319d1f",
      "name": "Code in Python (Native)4"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "data = []\n\nfor item in _items:\n  json = item[\"json\"]\n  \n  data.append({\n    # \"ID\",  # Primary key\n    \"CRAWLER_NAME\": \"樂天愛買\",\n    \"REQUEST_URL\": json.get(\"url\"),\n    \"SOURCE\": \"爬蟲\",\n    \"RETAILER\": \"WebCrawler_RakutenAmart\",\n    \"PRODUCT_NAME\": json.get(\"name\"),\n    \"CATEGORY\": \"\",\n    \"MANUFACTURER\": \"\",\n    \"BRAND\": \"\",\n    \"SPEC\": json.get(\"spec\"),\n    \"PRICE\": json.get(\"price\"),\n    \"PROMO\": json.get(\"promo\"),\n    \"NEW\": 0,\n    \"STATUS\": \"\",\n    # \"CREATE_DATE\",  # SQL 自動產生\n    # \"CREATE_USER_ID\",  # SQL 自動產生\n  })\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        64
      ],
      "id": "82116241-b25d-4926-a63b-11624ccdf6ba",
      "name": "轉成 db 欄位 (樂天愛買)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3c3c6ad-395c-4429-bd1f-d29bb3ea07ca",
              "leftValue": "1",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -224
      ],
      "id": "3afd2f68-97c1-4779-b244-716742e4a80a",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "取出產品 tag": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "分離欄位": {
      "main": [
        [
          {
            "node": "轉成 db 欄位",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉成 db 欄位": {
      "main": [
        [
          {
            "node": "合併 mapping、data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "全聯",
            "type": "main",
            "index": 0
          },
          {
            "node": "家樂福",
            "type": "main",
            "index": 0
          },
          {
            "node": "愛買樂天",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mapping",
            "type": "main",
            "index": 0
          },
          {
            "node": "美廉社",
            "type": "main",
            "index": 0
          },
          {
            "node": "PChome",
            "type": "main",
            "index": 0
          },
          {
            "node": "家樂福 DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "愛買 DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Momo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "取出產品 tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "分離欄位",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全聯": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "填補類別、品牌、製造商": {
      "main": [
        [
          {
            "node": "判斷資料是否要留",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "美廉社": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in Python (Native)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)": {
      "main": [
        [
          {
            "node": "合併 mapping、data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Mapping": {
      "main": [
        [
          {
            "node": "合併 mapping、data",
            "type": "main",
            "index": 0
          },
          {
            "node": "填補類別、品牌、製造商",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PChome": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "品名、規格",
            "type": "main",
            "index": 0
          },
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "愛買樂天": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "家樂福": {
      "main": [
        [
          {
            "node": "取整頁 (資料大)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "品名、規格": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Code in Python (Native)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)2": {
      "main": [
        [
          {
            "node": "合併 mapping、data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合併 mapping、data": {
      "main": [
        [
          {
            "node": "填補類別、品牌、製造商",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Code in Python (Native)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得雲端 PDF URL": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "取得 PDF name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得 PDF name": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "家樂福 DM": {
      "main": [
        [
          {
            "node": "Code in Python (Native)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "愛買 DM": {
      "main": [
        [
          {
            "node": "取得雲端 PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)3": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "取出 name、url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "合併 DM",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "取出 name、url": {
      "main": [
        [
          {
            "node": "合併 DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉成 db 欄位1": {
      "main": [
        [
          {
            "node": "合併 mapping、data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Momo": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "取要的區塊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)1": {
      "main": [
        []
      ]
    },
    "判斷資料是否要留": {
      "main": [
        [
          {
            "node": "存入資料庫",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "不要的資料存 csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不要的資料存 csv": {
      "main": [
        []
      ]
    },
    "取得第一頁內容 url，避免 memory 過載": {
      "main": [
        [
          {
            "node": "取得頁面內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得頁面內容": {
      "main": [
        [
          {
            "node": "取要的欄位",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查有無下一頁": {
      "main": [
        [
          {
            "node": "有下一頁，取 url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "有下一頁，取 url": {
      "main": [
        [
          {
            "node": "取得頁面內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取要的欄位": {
      "main": [
        [
          {
            "node": "拉平",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取整頁 (資料大)": {
      "main": [
        [
          {
            "node": "取得第一頁內容 url，避免 memory 過載",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取下一頁": {
      "main": [
        [
          {
            "node": "檢查有無下一頁",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拉平": {
      "main": [
        [
          {
            "node": "轉成 db 欄位1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取要的區塊": {
      "main": [
        [
          {
            "node": "取要的欄位1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取要的欄位1": {
      "main": [
        [
          {
            "node": "Code in Python (Native)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native)4": {
      "main": [
        [
          {
            "node": "轉成 db 欄位 (樂天愛買)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉成 db 欄位 (樂天愛買)": {
      "main": [
        [
          {
            "node": "合併 mapping、data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "取下一頁",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5bdeb212-7f90-4d68-9ade-337dcc948b9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26b01562f9767bdebc818b6b2ba158d86d29098ccd35229feef174e8f1c0297d"
  },
  "id": "lTKqRWqfB51x4JSciG3Hr",
  "tags": []
}