n8n/Pxmart.json
{
  "name": "Pxmart",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": ".Card_card-container__OxmEq.Card_card-container--product__Q_BJW",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        656,
        -376
      ],
      "id": "6f06c2da-9bfa-4d5f-bd35-7c687f2191ac",
      "name": "取出產品 tag"
    },
    {
      "parameters": {
        "options": {
          "fileName": "n8n_test.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        -352
      ],
      "id": "b8d2210b-0a15-4c03-887e-fb113f0f2254",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "products = []\n\nfor page in _items:\n  url = page[\"json\"][\"url\"]\n  \n  for product in page[\"json\"][\"data\"]:\n    \n    split = product.split(\"\\n\\n\")\n    name = split[0]\n\n    # 價格 (兩件特價則取平均)\n    price = split[-1]\n\n    # 規格\n    spec = name.split(\"(\", 1)[1]\n\n    if \"(\" in spec:\n      # 多個括號\n      spec = \"(\" + spec\n\n    else:\n      spec = spec[:-1]\n    \n    products.append({\n        \"name\": name,\n        \"price\": price,\n        \"spec\": spec,\n        # \"splilt\": split,\n        \"url\": url,\n    })\n  \nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -448
      ],
      "id": "8d66dbfa-9267-4bfb-90fb-2379ae99255e",
      "name": "分離欄位"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "data = []\n\nfor item in _items:\n  json = item[\"json\"]\n  data.append({\n    \"CATEGORY\": \"\",\n    \"MANUFACTURER\": \"\",\n    \"BRAND\": \"\",\n    \"PRODUCT_NAME\": json.get(\"name\"),\n    \"SPEC\": json.get(\"spec\"),\n    \"PRICE\": json.get(\"price\"),\n    \"PROMO\": \"\",\n    \"REQUEST_URL\": json.get(\"url\"),\n  })\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -448
      ],
      "id": "495f57f5-307f-4a1f-b06d-1f4f974ea504",
      "name": "轉成 db 欄位"
    },
    {
      "parameters": {
        "table": "n8n_test",
        "columns": "CATEGORY, MANUFACTURER, BRAND, PRODUCT_NAME, SPEC, PRICE, PROMO, REQUEST_URL"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1552,
        -544
      ],
      "id": "98c851c5-dd04-4125-b338-0c387bac3128",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "xTQvT5BbrXV3n2PV",
          "name": "QasEfgpServer"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -352
      ],
      "id": "06e3bb2f-e27d-4b7e-b4c0-35cd9ee64074",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -544
      ],
      "id": "fd3bb1eb-6266-4a71-8abe-8c9815d5c22a",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        -376
      ],
      "id": "b75a3dd5-c3ca-49ae-a21f-6b20445119f3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [\n  {\"url\": \"https://www.pxmart.com.tw/campaign/life-will/classification/冷藏、冰凍食品\"},\n  {\"url\": \"https://www.pxmart.com.tw/campaign/life-will/classification/南北貨、油品、調味料、罐頭\"},\n  {\"url\": \"https://www.pxmart.com.tw/campaign/life-will/classification/飲料與酒類\"},\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -448
      ],
      "id": "e0584432-8757-4f37-864a-d56ad79e88e8",
      "name": "URL list"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        -448
      ],
      "id": "a627ff2a-c82b-460d-b49d-4bb11c2c7c87",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "取出產品 tag": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "分離欄位": {
      "main": [
        [
          {
            "node": "轉成 db 欄位",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "轉成 db 欄位": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "URL list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "URL list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "取出產品 tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL list": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "分離欄位",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8c1033f6-c188-433e-853a-b05b84a355e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26b01562f9767bdebc818b6b2ba158d86d29098ccd35229feef174e8f1c0297d"
  },
  "id": "lTKqRWqfB51x4JSciG3Hr",
  "tags": []
}